#
# Parse Citrix NetScaler configuration for Server Configurations.
#
# Author: Gleb N. Polyakov (email: gleb.poljakov@gmail.com)
# Date: 2018-08-18
#
Value name (\S+)
Value ipaddress (\S+)
Value state (\S+)
Value comment (.+)
#Value NotParsed (.+)

Start
#  ^add server ${name} ${ServerAddress}( -state ${ServerState}| -comment \"${comment}\"|${NotParsed}*)* -> Next.Record
  ^add server ${name} ${ipaddress}( -state ${state}| -comment \"${comment}\")* -> Next.Record