#
# Parse Citrix NetScaler configuration for patset Configurations.
#
# Author: Gleb N. Polyakov (email: gleb.poljakov@gmail.com)
# Date: 2018-08-18
#
Value name (\S+)

# add policy patset esma_ips_saris
Start
  ^add policy patset ${name}* -> Next.Record